@model IEnumerable<IquraSchool.Controllers.RequestController.StudentGradeViewModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = User.IsInRole(Role.Admin);
}

<h1>Прості запити</h1>
<hr />
<h2>Запит 2 </h2>
<p>Отримати середній бал учня за певний предмет <strong>P</strong></p>

@Html.DropDownList("Subject",
        ViewBag.Subject,
        "Виберіть предмет",
    new { @class = "form-control mb-3", onchange = "onDropdownChange()" }
    )

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageGrade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.AverageGrade
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="home" asp-action="Index" class="btn btn-primary">На головну</a>
<a asp-action="Index" class="btn btn-primary">Назад до запитів</a>

@section Scripts {
    <script>
        function onDropdownChange() {
            var subjectId = document.getElementById("Subject").value;
            window.location.href = "/Request/QueryTwo?subjectId=" + subjectId;
        }
    </script>
}