@model IEnumerable<IquraSchool.Models.AcademicYear>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = User.IsInRole(Role.Admin);
}

<h1>Академічні навчальні роки</h1>
@if (isAdmin)
{
    <p>
        <a asp-action="Create">Додати новий</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeginYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndYear)
                </td>
                <td>
                    @if (isAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                    @if (isAdmin)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
