@model IEnumerable<IquraSchool.Models.ScheduleInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = User.IsInRole(Role.Admin);
}

@{
    var daysOfWeek = ViewBag.DayOfTheWeeks as List<string>;
}
<h1>Розклад для @Model.Select(s => s.Group.Name).FirstOrDefault() класу</h1>
@if (isAdmin)
{
    <p>
        <a asp-action="Create">Додати</a>
    </p>
}


<table class="table" id="container-fluid">

    <div class="justify-content-end_custom">
        <div class="btn-group mb-3 " role="group" aria-label="View Switcher">
            @* if teacher then *@
            @*<a href="@Url.Action("Index", new { teacherId = 2, view = "list" })" class="btn btn-primary mx-2">List View</a>
            <a href="@Url.Action("Index", new { teacherId = 2, view = "grid" })" class="btn btn-secondary mx-2">Grid View</a>*@
            @*if student then*@
            <a href="@Url.Action("Index", new { id = 1, view = "list" })" class="btn btn-primary mx-2">List View</a>
            <a href="@Url.Action("Index", new { id = 1, view = "grid" })" class="btn btn-secondary mx-2">Grid View</a>
        </div>
    </div>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfTheWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonNumber)
                </td>
                <td>
                    @daysOfWeek[item.DayOfTheWeek]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Subject.Name)
                    -
                    @Html.DisplayFor(modelItem => item.Course.Teacher.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @if (isAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                    @if (isAdmin)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
