@model IEnumerable<IquraSchool.Models.Grade>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Усі оцінки</h1>

<p>
    <a asp-action="Create">Додати</a>
</p>

@Html.DropDownList("academicYears",
    ViewBag.academicYears,
    "Виберіть рік",
    new {@class = "form-control", onchange="academicYearChanged(this)", disabled = "disabled"}
)

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Absent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grade1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    @if (item.Absent == 0)
                    {
                        <span>Ні</span>
                    }
                    else if (item.Absent == 1)
                    {
                        <span>Н</span>
                    }
                    else
                    {
                        <span>ПП</span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Subject.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Teacher.FullName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                   <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                   <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                   <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>



@section Scripts {
    <script>
        function academicYearChanged(select) {
            var selectedValue = select.value;
            if (selectedValue) {
                window.location.href = "?academicYear=" + selectedValue;
            }
        }
        $(document).ready(function () {
            $("#academicYears").removeAttr("disabled");
        });
</script>
}