@model IEnumerable<IquraSchool.Models.Grade>
@using System.Globalization
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="progress">
    @Html.DropDownList("academicYears",
        ViewBag.academicYears,
        "Виберіть рік",
    new {@class = "form-control mb-3", onchange="academicYearChanged(this)"}
    )
    @Html.DropDownList("Months",
        ViewBag.Months,
        "Виберіть місяць",
    new {@class = "form-control mb-3", onchange="monthChanged(this)"}
    )


    @{
        List<string> absentList = new List<string> {"", "Н", "ПП"};
    }
        

        <div class="table-responsive">
        <div>
            <h3>Завантаження інформації в excel-файл</h3>
            <a asp-action="Export">Завантажити</a>
        </div>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Subject</th>
                        @for (int i = 1; i <= 31; i++)
                        {
                            <th>@i</th>
                        }
                    </tr>
                </thead>
                <tbody>
                 @foreach (var subject in ViewBag.Subjects)
                {
                    <tr>
                        <td class="align-middle">@subject</td>
                        @for (int i = 1; i <= 31; i++)
                        {
                            var grade = Model.Where(g => g.Course.Subject.Name == subject && g.Date.Day == i)
                                .Select(g => g.Grade1.HasValue ? g.Grade1.ToString() : absentList[g.Absent]);
                            @if (grade.Count() > 1)
                            {
                                <td class="align-middle">
                                @foreach (var g in grade)
                                {
                                    <div>@g</div>
                                }
                                </td>
                            }else{
                                <td class="align-middle">
                                     @Html.DisplayFor(m => grade)
                                </td>
                            }
                        }
                    </tr>
                }

                </tbody>
            </table>
        </div>
    
</div>
<div class="container">
    <div id="chart1"></div>
</div>


@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>

        function monthChanged(select) {
            var selectedMonth = select.value;
            var academicYearSelect = document.getElementById("academicYears");
            var selectedAcademicYear = academicYearSelect.value;

            var url = "?month=" + selectedMonth;

            if (selectedAcademicYear) {
                url += "&academicYear=" + selectedAcademicYear;
            }

            window.location.href = url;
        }

        function academicYearChanged(select) {
            var selectedAcademicYear = select.value;
            var monthSelect = document.getElementById("Months");
            var selectedMonth = monthSelect.value;

            var url = "?academicYear=" + selectedAcademicYear;

            if (selectedMonth) {
                url += "&month=" + selectedMonth;
            }

            window.location.href = url;
        }

        $(document).ready(function () {
            $('.dropdown-item').click(function () {
                var month = $(this).data('month');
                var subjectDays = {};
                $('td[data-subject]').empty();
                
            });
        });


        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var monthSelect = document.getElementById("Months");
            var selectedMonth = monthSelect.value;

            $.get('/api/Chart/JsonData?month=' + selectedMonth, function (JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Співвідношення предмет та його середня оцінка",
                    width: '100%',
                    height: 800
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }

       

    </script>

    

}



